/*start:  resets */
* {
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*  end: resets */

/* start: variables */
:root {
  --color-tint: #fdf2e9;
  --btn-color: #e67e22;
  --primary-white: #fff;
}

/*  end: variables */

/* reuseable Component */
.container {
  padding: 0 2.4rem;
}

.list-icon {
  width: 2.8rem;
  height: 2.8rem;
  color: #e67e22;
}

.grid {
    display: grid;
    gap: 9.6rem;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  }
  /* .grid:last-child{
    margin-bottom: 0;
  } */
  
  .grid:not(last-child) {
    margin-bottom: 9.6rem;
  }
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid--5-cols{
    
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-center-vertically {
    align-items: center;
  }